<h1>Albums list</h1>

<fieldset>
  <input type="text" [(ngModel)]="newAlbum.title"><br/>
  <button (click)="addAlbum()">Add post</button>
</fieldset>

<ul >
  <li *ngFor="let album of albums">
    <a routerLink="/albums/{{album.id}}">
      {{album.id}}) {{album.title}}
    </a>
    <button (click)="deleteAlbum(albums.indexOf(album))">
      DELETE
    </button><br>
    <label>edit title</label>
    <input type="text" [(ngModel)]="title">
    <button (click)="putAlbum(album)">Save</button><br>
  </li>
</ul>