<app-top-bar></app-top-bar>
<h3>Categories:</h3>

<div class="body" *ngFor="let category of categories">
  <div class="category">
    <p (click)="categoryClick(category.name)">{{ category.name }}</p>
    <img src="{{ category.img }}" *ngIf="category.img" />
  </div>
</div>

<app-product-list *ngIf="show" [categoryName]="categoryName"></app-product-list>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
