.main {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(43, 214, 226);
    border-radius: 15px;
    margin-top: 25px;
    padding-bottom: 14px;
    margin-left: 10px;
    margin-right: 69px;
    text-align: center;
}

img{
    width: 120px;
    object-fit: cover;
}

.description {
    padding: 0px 20px;
    font-style: italic;
    font-weight: bold;
}

button {
    font-style: italic;
    font-weight: bold;
    border-radius: 5px;
}

.rating {
    font-weight: bold;
    font-size: 12px;
    font-style: oblique;
    color:rgb(255, 0, 0);
}

.price {
    font-size: 24px;
    color:rgb(17, 255, 0);
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/