<h2>Products</h2>

<div *ngFor="let product of products" class="main">
  
  <h3>
    <a href="{{product.url}}">
      {{ product.name }}
    </a>
  </h3>

  <img *ngIf="product.image" src={{product.image}}>

  <p *ngIf="product.rating" class="rating">
    Rating: {{ product.rating }}
  </p>

  <p *ngIf="product.price" class="price">
    Price: {{ product.price | currency}}
  </p>

  <p *ngIf="product.description" class="description">
    Description: {{ product.description }}
  </p>

  <button type="button" (click)="share(product.name, product.url)">
    Share
  </button>
  

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->