
<div *ngIf="product" class="main">
  <div class="proname">
    <h3>
      <a href="{{ product.url }}" target="_blank">
        {{ product.name }}
      </a>
    </h3>
  </div>

  <div class="proimage">
    <img *ngIf="product.image" src="{{ product.image }}" />
  </div>

  <div class="prorating">
    <p *ngIf="product.rating" class="rating">Rating: {{ product.rating }}</p>
  </div>

  <div class="proprice">
    <p *ngIf="product.price" class="price">
      Price: {{ product.price | currency }}
    </p>
  </div>

  <div class="prodescr">
    <p *ngIf="product.description" class="description">
      Description: {{ product.description }}
    </p>
  </div>

  <div class="probutton">
    <button type="button" (click)="share(product.name, product.url)">
      Share
    </button>
  </div>

  <div class="delete-button" (click)="Remove()">
    <button type="button">Remove</button>
  </div>

  <div class="like">
    <span (click)="like()" class="like-button"
      ><i class="material-icons">favorite</i></span
    >
    {{ numberOfLikes }}
  </div>
</div>
<!-- </div> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
